html,
main {
  height: 100vh;
  background-color: #1f2833;
  color: #c5c6c7;
  font-family: "Montserrat", sans-serif;
}

.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skillsBtn {
  float: right;
  background-color: #1f2833 !important;
  border-color: #1f2833 !important;
}

.skillsBtn:hover {
  background-color: #1b3555 !important;
  border-color: #1b3555 !important;
}

.cardHeadText {
  margin-top: 5px;
  font-size: 25px;
}

.skillListItem {
  text-align: center;
}

.aboutLink {
  position: absolute;
  transform: rotate(-90deg);
  left: 0;
  top: 48%;
  color: #c5c6c7;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.aboutLink:hover {
  text-decoration: none;
  cursor: pointer;
  color: #45a29e;
}

.emailLink {
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 48%;
  color: #c5c6c7;
  font-size: 20px;
}

.emailLink:hover {
  text-decoration: none;
  color: #45a29e;
}

.portfolioLink {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  color: #c5c6c7;
  border: none;
  font-size: 45px;
}

.portfolioLink:hover {
  cursor: pointer;
  color: #45a29e;
}

.media {
  position: relative;
}

.media-heading {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
}

.media-right {
  margin-top: 30px;
}

.headshot {
  border-radius: 50%;
  margin-right: 30px;
  position: absolute;
  top: 60%;
  right: 5%;
  transform: translate(-50%, -50%);
}

hr {
  background-color: #c5c6c7;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
}

.card,
.list-group-item {
  background-color: #c5c6c7 !important;
  color: #1f2833 !important;
}

.contactMe {
  font-size: 20px;
}

.linkItem {
  padding: 10px;
  margin-right: 15px;
  background-color: transparent;
  color: #c5c6c7;
  font-size: 20px;
}

.linkItem:hover {
  text-decoration: none;
  cursor: pointer;
  color: #45a29e;
}

.contact {
  font-size: 20px;
  color: #c5c6c7;
}

.contact:hover {
  color: #45a29e;
}

.closeBtn {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #c5c6c7;
  font-size: 30px;
}

.closeBtn:hover {
  cursor: pointer;
  color: #45a29e;
}

header {
  margin-top: 50px;
}

.projectHeader {
  font-size: 40px;
}

.backToHomeBtn {
  width: 100%;
  position: fixed;
  top: -50px;
  left: 0;
  text-align: center;
  background-color: transparent;
  color: #c5c6c7;
  border: none;
  font-size: 40px;
}

.backToHomeBtn:hover {
  cursor: pointer;
  color: #45a29e;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #1f2833 !important;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}

.carouselImage {
  width: 100%;
  margin: 0 auto;
}

.projectTitle {
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 10px;
}

.projectLinks {
  padding: 10px;
  margin-right: 15px;
  background-color: transparent;
  color: #c5c6c7;
  font-size: 20px;
}

.projectLinks:hover {
  text-decoration: none;
  cursor: pointer;
  color: #45a29e;
}

/*****************************************************
********************Animations************************
*****************************************************/

.scale-in-center {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.swing-in-right-fwd {
  animation: swing-in-right-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
}

@keyframes swing-in-right-fwd {
  0% {
    transform: rotateY(-100deg);
    transform-origin: right;
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    transform-origin: right;
    opacity: 1;
  }
}

.swing-in-top-bck {
  animation: swing-in-top-bck 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes swing-in-top-bck {
  0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.fade-in-fwd {
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 780px) {
  h1 {
    font-size: 20px;
  }

  #aboutHeader {
    font-size: 30px;
  }

  #pic {
    height: 140px;
    width: 140px;
  }

  .col-8 {
    flex: none;
    max-width: none;
  }

  .col-4 {
    flex: none;
    margin-left: 10%;
    max-width: 80%;
  }

  h3,
  .portfolioH3 {
    font-size: 20px;
  }

  .linkItem {
    font-size: 15px;
  }

  span,
  .contact {
    font-size: 15px;
  }

  #about {
    overflow: auto;
  }

  .modalLink {
    color: #45a29e;
  }
}

@media only screen and (max-width: 425px) {
  h1 {
    text-align: center;
    padding-bottom: 200px;
  }

  #aboutHeader {
    font-size: 30px;
    word-break: break-word;
  }

  #pic {
    height: 100px;
    width: 100px;
    margin-left: -40px;
    z-index: 0;
  }

  h3 {
    margin-bottom: 5px;
  }

  span {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .aboutLink,
  .emailLink {
    font-size: 15px;
  }

  .col-4 {
    max-width: 95%;
    margin-left: 2.5%;
  }

  span {
    padding-left: 14px;
  }
}
